@import '../node_modules/nib'

global-reset()

font-url(file)
	return '../fonts/' + file
	
webfont(family, file, weight = 'normal')
	@font-face
		font-family: family
		src: url(font-url(file + '.woff')) format('woff'), 
			url(font-url(file + '.woff2')) format('woff2'), 
		font-weight weight
		font-style: normal
webfont('Wremena','wremena', normal)

$englishFont = 'Wremena','Times','Times New Roman', serif;
$minchoFont = 'Sawarabi Mincho','ヒラギノ明朝 ProN' , 'Hiragino Mincho ProN' , '游明朝','游明朝体',YuMincho,'Yu Mincho' , 'ＭＳ 明朝' , 'MS Mincho' , HiraMinProN-W3 , 'TakaoEx明朝' , TakaoExMincho , 'MotoyaLCedar' , 'Droid Sans Japanese' , serif;
$mainFontSize = 3rem
$mobileFontSize = 2rem
$mainFontSizeMincho = $mainFontSize - .25rem
$mobileFontSizeMincho = $mobileFontSize - .25rem
$captionFontSize = 2rem
$captionFontSizeMincho = $captionFontSize - .2rem
$mobileWidth = "(max-width: 480px) and (min-width: 320px)"

html
	font-size: 62.5%
	-webkit-font-smoothing: antialiased
	font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

		
#hero
	z-index: 10
	position: fixed
	transition: 0.3s ease all
	&.woah
		filter: contrast(100%) blur(3px)
canvas
	// pointer-events: none
	display: block
	cursor: pointer
	
.main1
	background: rgba(255,0,0,0.8)
	width: 100vw
	min-height: 100vh
	box-sizing: border-box
	z-index: 50
	padding: 0 12.5% 0 12.5%
	line-height: 3.75rem
	font-size: $mainFontSize
	font-family: $englishFont
	color: #fff
	position: absolute
	top: 100%
	@media $mobileWidth
		font-size: $mobileFontSize
		line-height: 2.4rem

.click
	width: 60px
	margin-top: 10px
	position: relative
	left: 50%
	transform: translateX(-50%)
	img
		max-width:100%
.column
	width: 25%
	float: left
	@media $mobileWidth
		clear: both
		width: 100%

.header
	margin-top: 11%

.text-body
	margin-bottom: 3.75rem

.line-up
	margin-top: 3.75rem
	margin-bottom: 3.75rem

.mincho
	font-family: $minchoFont
	font-size: $mainFontSizeMincho
	@media $mobileWidth
		font-size: $mobileFontSizeMincho
	
.caption
	font-size: $captionFontSize
	line-height: 2.4rem

.caption-mincho
	font-size: $captionFontSizeMincho
	font-family: $minchoFont

.logo
	z-index:9999
	position: fixed
	top: 50%
	width: 100%
	cursor: pointer
	transition: 0.3s ease all
	left: 50%
	transform: translate(-50%,-50%)
	svg
		width: 99%
		height: auto
		opacity: 0.95
		transition: 0.2s ease all
		:hover
			cursor: pointer
			transform: scale(1.01)
	svg path
		fill: #ffffff
		:hover
			fill: #ff0000
	img
		width: 99%
		opacity: 0.95
		transition: 0.2s ease all
		&:hover
			cursor: pointer
			transform: scale(1.01)
	&.hidden
		opacity: 0
		
.english-letter
	clear: both
	margin-top: 3.75rem
	padding-top: 3.75rem

.chinese-letter
	margin-top: 3.75rem
	margin-bottom: 3.75rem

.parasite
	img
		max-width: 25%