@import '../node_modules/nib'

global-reset()

#hero
	z-index: 10
	position: fixed
canvas
	// pointer-events: none
	display: block
	cursor: pointer
.main1
	background: rgba(255,0,0,0.8)
	width: 100vw
	height: 100vh
	z-index: 50
	color: #fff
	position: absolute;
	top: 100%;

.logo
	z-index:9999
	position: fixed
	top: 50%
	width: 100%
	transition: 0.3s ease all;
	left: 0
	transform: translateY(-50%);
	img
		width: 100%
		opacity: 0.95
		transition: 0.2s ease all;
		&:hover
			cursor: pointer
			transform: scale(1.05)
	&.hidden
		opacity: 0